body {
    background-color: hsl(185, 41%, 84%);
    display: flex;
    justify-content: center;
}

.main-container {
    background-color: whitesmoke;
    justify-content: center;
    display: flex;
    margin: 9px;
    border: 1px solid black;
    max-width: 450px;
    max-height: 300px;
}

.inner-container-l {
    min-height: 300px;
    min-width: 225px;
    background-color: whitesmoke;
}

.inner-container-r {
    min-height: 300px;
    min-width: 225px;
    background-color: hsl(183, 100%, 15%);
}

.darkbluebutton {
    Dark grayish cyan: hsl(184, 14%, 56%) padding: 10px;
}